<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
        [class.active]="aba === 'home'"
        (click)="aba = 'home'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [class.active]="aba === 'features'"
        (click)="aba = 'features'">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [class.active]="aba === 'pricing'"
        (click)="aba = 'pricing'">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [class.active]="aba === 'about'"
        (click)="aba = 'about'">About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'features'">Modo Features ativado</p>
  <p *ngSwitchCase="'pricing'">Modo Pricing ativado</p>
  <p *ngSwitchCase="'about'">Modo About ativado</p>
  <p *ngSwitchDefault>Home</p>
</div>
